spring:
  datasource:
    url: jdbc:mysql://localhost:3306/formatec_db?useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # Liquibase gère le schéma
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

jwt:
  secret: ${JWT_SECRET:monsecretjwtformatec2026trèslongetimprévisible}
  expiration: 86400000   # 24h

server:
  servlet:
    context-path: /api

logging:
  level:
    com.formatec: DEBUG